.header-page {
    height: 80px;
    width: 100%;
    background: #772583;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aside-page {
    background: darkviolet;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-main { padding: 30px; }

.section-congrats {
    display: flex;
    align-items: center;
    text-align: start;
    gap: 1rem;
}

.success { display: none; }

.section-failure {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin-bottom: 50px;
    gap: 1rem;
}

.div-alert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    text-align: start;
    width: 465px;
    height: 131px;
    flex-shrink: 0;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--Auxiliary-red, #F64F77);
    margin-bottom: 30px;
    gap: 1rem;
 }

.conferir-gabarito {
    display: flex;
    justify-content: center;
    width: 229px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #772583;
    margin: auto;
    color: white;
    margin-bottom: 20px;
}

.div-gabarito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 465px;
    height: 131px;
    flex-shrink: 0;
    border: 1px solid #999;
    margin: auto;
    margin-bottom: 30px;
    gap: 15px;
}

.section-congrats h3, .section-failure h3 { color: #4E4B59; font-size: 32px; font-weight: 700; line-height: 130%; }

.section-congrats p, .section-failure p { font-size: 20px; font-weight: 400; }

.section-congrats img, .section-failure img { width: 112px; height: auto; }

.div-infos-certificate { display: flex; flex-direction: column; gap: 20px; }

.div-infos-certificate h2 { color: #4E4B59; font-size: 24px; font-weight: 700; }

.div-infos-certificate > div { display: flex; flex-direction: row; align-items: center; gap: 1rem; }

.div-infos-certificate > div p { margin: 0; }

.btn-emitir { 
    width: 379px;
    height: 57px;
    flex-shrink: 0;
    border-radius: 5px;
    border: none;
    background: #3DCD7F;
    box-shadow: 0px 8px 24px 0px rgba(61, 205, 127, 0.25);
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;  
}

.btn-emitir-failure {  
    width: 465px;
    height: 57px;
    flex-shrink: 0;
    border-radius: 5px;
    border: none;
    background: #3DCD7F;
    box-shadow: 0px 8px 24px 0px rgba(61, 205, 127, 0.25);
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 
}

.text-emit { width: 75%; }

.h2-mobile { display: none; }

.btn-emitir-mobile { display: none; }

.div-buttons { display: flex; justify-content: end; }

.div-buttons button { width: 19%; height: 49.95px; border: 2px solid #772583; cursor: pointer; }

.div-buttons-mobile { display: none; }

.div-buttons-mobile button { width: 50%; height: 49.95px; border: 2px solid #772583; cursor: pointer; }

.btn-active { background: #772583; color: white; }

.btn-inactive { background: none; }

.div-certificate img { width: 100%; }

.btn-1 { border-top-left-radius: 5px; border-bottom-left-radius: 5px; }

.btn-2 { border-top-right-radius: 5px; border-bottom-right-radius: 5px; }

footer { display: flex; flex-direction: column; align-items: center; justify-content: center; }

.div-gabarito img {
    width: 33.29px;
    height: 34.461px;
    flex-shrink: 0;
}

@media(max-width: 991px) {
    .section-main { padding: 50px; }

    .text-emit { display: flex; justify-content: center; align-items: center; text-align: center; margin: auto; width: 100%; }

    .h2-desk { display: none; }

    .h2-mobile { display: block; }

    .aside-page { display: none; }

    .div-buttons { display: none; }

    .btn-emitir-mobile { display: block; }

    .div-buttons-mobile { display: flex; justify-content: center; }

    .div-infos-certificate button { display: none; }

    .btn-emitir { width: 60%; display: flex; align-items: center; justify-content: center; margin: auto; }

    .div-certificate img { width: 100%; }

    .section-congrats, .section-failure { flex-direction: column; justify-content: center; align-items: center; text-align: center; }

    .div-alert { width: 100%; }

    .div-gabarito { width: 100%; }

    .btn-emitir-failure { width: 100%; }
}

@media(max-width: 768px) {
    body { background: #F7F7F7; }
    .text-emit { display: flex; justify-content: flex-start; text-align: start; }
    .btn-emitir { width: 100%; }
    .section-main { padding: 30px; }
}

@media(max-width: 441px) {
    .div-gabarito img { 
        width: 26.769px;
        height: 27.711px;
        flex-shrink: 0; 
    }
}